NODE_ENV=development
PORT=4000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=flower_marketplace
DB_USER=flower_user
DB_PASSWORD=flower_pass

JWT_SECRET=change-this-to-a-long-random-string
JWT_EXPIRES_IN=7d

CLIENT_ORIGIN=http://localhost:5173

UPLOAD_SERVICE_URL=https://upload-file.applicationservice.id/api/upload-file

DEFAULT_COMMISSION_RATE=15.00

SUPERADMIN_EMAIL=admin@flowermarket.local
SUPERADMIN_PASSWORD=ChangeMe123!
